<template>
  <metainfo>
    <template v-slot:title="{ content }">
      {{ $t("account.title") }} | {{ $t(content) }}</template
    >
  </metainfo>
  <account></account>
</template>

<script>
import Account from "../../components/account/Index.vue";

export default {
  data: () => ({}),
  components: {
    Account,
  },
};
</script>
