<template>
  <q-layout view="hHh LpR fFf">
    <q-page-container>
      <q-page
        class="window-height window-width row justify-center items-center"
      >
        <div class="column q-pa-lg">
          <div class="row">
            <q-card class="shadow-24 login-card" square>
              <q-card-section>
                <div class="text-center">
                  <q-img class="logo" src="@/assets/logo.png"></q-img>
                  <p class="text-weight-bold">
                    {{ $t("security.title") }}
                  </p>
                  <span class="text-grey-10">{{
                    $t("security.description")
                  }}</span>
                </div>
              </q-card-section>
              <q-card-section>
                <q-form @submit="login" autocomplete="off">
                  <q-input
                    :error="
                      v$.form.username.$error ||
                      !lodash.isNull(apiFormErrors['username'])
                    "
                    :error-message="
                      v$.form.username.$error
                        ? formatErrorsMessages(v$.form.username.$errors)
                        : formatErrorsMessages(apiFormErrors['username'])
                    "
                    :label="$t('security.cols.username.title')"
                    @blur="v$.form.username.$touch"
                    @input="v$.form.username.$touch"
                    clearable
                    square
                    outlined
                    v-model="form.username"
                    class="q-py-sm"
                  >
                    <template v-slot:prepend>
                      <q-icon name="perm_identity" />
                    </template>
                  </q-input>
                  <q-input
                    :error="
                      v$.form.password.$error ||
                      !lodash.isNull(apiFormErrors['password'])
                    "
                    :error-message="
                      v$.form.password.$error
                        ? formatErrorsMessages(v$.form.password.$errors)
                        : formatErrorsMessages(apiFormErrors['password'])
                    "
                    :label="$t('security.cols.password.title')"
                    autocomplete="off"
                    clearable
                    square
                    outlined
                    type="password"
                    v-model="form.password"
                    class="q-py-lg"
                  >
                    <template v-slot:prepend>
                      <q-icon name="password" />
                    </template>
                  </q-input>
                  <div class="q-py-md">
                    <q-btn
                      class="full-width"
                      color="primary"
                      :label="$t('security.btn.login')"
                      type="submit"
                      :loading="loading"
                      size="14px"
                    />
                  </div>
                </q-form>
              </q-card-section>
            </q-card>
          </div>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import URLPath from "../../helpers/URL";
import useVuelidate from "@vuelidate/core";
import { required, helpers } from "@vuelidate/validators";
import FormMixin from "../../mixins/Common/Forms";
import HelpersMixin from "../../mixins/Common/Helpers";

export default {
  name: "Login",
  mixins: [HelpersMixin, FormMixin],
  setup() {
    return {
      v$: useVuelidate(),
    };
  },
  validations() {
    return {
      form: {
        username: {
          required: helpers.withMessage(
            this.$t("security.cols.username.required"),
            required
          ),
        },
        password: {
          required: helpers.withMessage(
            this.$t("security.cols.password.required"),
            required
          ),
        },
      },
    };
  },
  beforeCreate() {
    if (this.$auth.token()) {
      this.$router.push({ name: "dashboard" });
    }
  },
  data: () => ({
    loading: false,
    form: {
      username: null,
      password: null,
    },
  }),

  methods: {
    login() {
      this.v$.$validate();
      if (!this.v$.$error) {
        let self = this;
        let redirect = this.$auth.redirect();
        let message = "security.form.bad_credentials";
        // hide old notification
        this.$store.dispatch("setNotification", { status: false });
        this.loading = true;
        this.$auth
          .login({
            data: this.form,
            url: URLPath.SECURITY.LOGIN.URI,
            redirect: { name: redirect ? redirect.from.name : "user" },
            fetchUser: true,
          })
          .then(() => {})
          .catch(() => {
            self.loading = false;
            self.$store.dispatch("setNotification", {
              status: true,
              message: self.$t(message),
              color: "error",
            });
          });
      }
    },
  },
};
</script>

<style>
.sub-title {
  margin: 0 0 8px !important;
}

.login-card {
  width: 350px;
  height: 470px;
  background-color: #e6e6e6;
  border-radius: 5% !important;
}

.logo {
  margin: 0 0 16px !important;
  height: 100px;
  max-width: 100px;
}
</style>
