<template>
  <q-dialog persistent v-model="dialog">
    <q-card style="width: 300px">
      <q-toolbar>
        <q-toolbar-title
          ><span class="text-weight-bold">{{
            $t("user.subtitle.title4")
          }}</span></q-toolbar-title
        >

        <q-btn dense flat icon="close" round v-close-popup></q-btn>
      </q-toolbar>
      <q-card-section>
        <div class="row q-col-gutter-md">
          <div class="col-12">
            <p class="text-body1 text-red">
              {{ $t("user.message.delete.title2") }}
            </p>
          </div>
          <div class="col-12">
            <div class="column">
              <div class="col self-end">
                <q-btn
                  :label="$t('btn.save.title3')"
                  :loading="loadingBtn"
                  color="primary"
                  @click="sendForm"
                  size="12px"
                ></q-btn>
              </div>
            </div>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import URLPath from "../../helpers/URL";
import FormMixin from "../../mixins/Common/Forms";
import HelpersMixin from "../../mixins/Common/Helpers";
export default {
  name: "DeleteForm",
  mixins: [HelpersMixin, FormMixin],
  data: () => ({
    dialog: false,
    loadingBtn: false,
    form: {
      id: null,
    },
  }),
  methods: {
    openDialog() {
      this.dialog = true;
    },
    sendForm() {
      let self = this;
      this.loadingBtn = true;
      this.save(this.getFormParam())
        .then(() => {
          self.$store.dispatch("setNotification", {
            status: true,
            message: self.$t("user.message.delete.title"),
          });
          self.dialog = false;
          self.$emit("getItems");
        })
        .finally(() => {
          self.loadingBtn = false;
        });
    },
    setForm(item) {
      this.form.id = item.id;
    },
    getFormParam() {
      return {
        url: URLPath.USER.DELETE.URI.replace("{USER_ID}", this.form.id),
        method: URLPath.USER.DELETE.METHOD,
      };
    },
  },
};
</script>

<style scoped></style>
