<template>
  <q-dialog v-model="dialog">
    <q-card style="width: 650px; max-width: 80vw">
      <q-toolbar>
        <q-toolbar-title
          ><span class="text-weight-bold">{{
            $t("user.subtitle.title6")
          }}</span></q-toolbar-title
        >

        <q-btn dense flat icon="close" round v-close-popup />
      </q-toolbar>
      <q-card-section>
        <q-form @submit="sendForm" @reset="resetForm">
          <div class="row q-col-gutter-md">
            <div class="col-12 col-sm-6">
              <q-input
                :label="$t('user.cols.username.title2')"
                color="primary"
                outlined
                dense
                v-model="myFilters.username"
              ></q-input>
            </div>
            <div class="col-12 col-sm-6">
              <q-select
                :label="$t('user.cols.gender.title2')"
                :options="itemsGenders"
                color="primary"
                outlined
                dense
                emit-value
                map-options
                v-model="myFilters.gender"
              ></q-select>
            </div>
            <div class="col-12 col-sm-6">
              <q-select
                :label="$t('user.cols.hometown.title2')"
                :options="itemsHometowns"
                emit-value
                map-options
                color="primary"
                outlined
                dense
                v-model="myFilters.hometown"
              ></q-select>
            </div>
            <div class="col-12 col-sm-6">
              <q-select
                :label="$t('user.cols.operator.title')"
                :options="itemsOperators"
                emit-value
                map-options
                color="primary"
                outlined
                dense
                v-model="myFilters.operator"
              ></q-select>
            </div>
            <div class="col-12 col-sm-6">
              <q-input
                :label="
                  myFilters.operator && myFilters.operator !== 'between'
                    ? $t('user.cols.age.title3')
                    : $t('user.cols.age.title4')
                "
                color="primary"
                outlined
                dense
                v-model="myFilters.age.start"
                type="number"
              ></q-input>
            </div>
            <div
              class="col-12 col-sm-6"
              v-if="myFilters.operator && myFilters.operator === 'between'"
            >
              <q-input
                :label="$t('user.cols.age.title5')"
                color="primary"
                outlined
                dense
                v-model="myFilters.age.end"
                type="number"
              ></q-input>
            </div>
            <div class="col-12">
              <div class="column">
                <div class="col self-end">
                  <q-btn
                    :label="$t('btn.search.title2')"
                    color="primary"
                    type="submit"
                    class="q-mx-sm"
                  ></q-btn>
                  <q-btn
                    dense
                    flat
                    type="reset"
                    :label="$t('btn.clear.title')"
                  ></q-btn>
                </div>
              </div>
            </div>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { ref } from "vue";
import { mapGetters } from "vuex";

export default {
  name: "FilterForm",
  props: {
    itemsHometowns: {
      type: Array,
      default: function () {
        return [];
      },
    },
  },
  setup() {
    return {
      myFilters: ref({
        username: ref(null),
        first_name: ref(null),
        age: ref({ start: null, end: null }),
        gender: ref(null),
        hometown: ref(null),
        operator: ref(null),
      }),
      itemsGenders: ref([]),
      itemsOperators: ref([]),
    };
  },
  created() {
    this.setItemOperator();
    this.setItemGender();
  },
  data: () => ({
    dialog: false,
  }),
  methods: {
    openDialog() {
      this.dialog = true;
    },
    sendForm() {
      this.$emit("sendForm", this.myFilters);
    },
    resetForm() {
      this.myFilters.username = null;
      this.myFilters.first_name = null;
      this.myFilters.age = { start: null, end: null };
      this.myFilters.gender = null;
      this.myFilters.hometown = null;
      this.$emit("resetForm");
    },
    setItemGender() {
      const self = this;
      this.genders.forEach((r) => {
        self.itemsGenders.push({
          label: self.$t("genders." + r),
          value: r,
        });
      });
    },
    setItemOperator() {
      const self = this;
      this.operators.forEach((r) => {
        self.itemsOperators.push({
          label: self.$t("operators." + r),
          value: r,
        });
      });
    },
  },
  computed: {
    ...mapGetters({
      genders: "user/genders",
      operators: "user/operators",
    }),
  },
};
</script>

<style scoped>
.pointer {
  cursor: pointer;
}
</style>
