<template>
  <q-dialog persistent v-model="dialog">
    <q-card style="width: 650px; max-width: 80vw">
      <q-toolbar>
        <q-toolbar-title
          ><span class="text-weight-bold">{{
            $t(dialogProp.title)
          }}</span></q-toolbar-title
        >

        <q-btn dense flat icon="close" round @click="closeDialog"></q-btn>
      </q-toolbar>
      <q-card-section>
        <q-form @submit="sendForm" autocomplete="off">
          <div class="row q-col-gutter-md">
            <div class="col-12 col-sm-6">
              <q-input
                :error="
                  v$.form.first_name.$error ||
                  !lodash.isNull(apiFormErrors['first_name'])
                "
                :error-message="
                  v$.form.first_name.$error
                    ? formatErrorsMessages(v$.form.first_name.$errors)
                    : formatErrorsMessages(apiFormErrors['first_name'])
                "
                :label="
                  dialogProp.action === 'create'
                    ? $t('user.cols.firstName.title')
                    : $t('user.cols.firstName.title2')
                "
                @blur="v$.form.first_name.$touch"
                @input="v$.form.first_name.$touch"
                clearable
                color="primary"
                outlined
                dense
                v-model="form.first_name"
              ></q-input>
            </div>
            <div class="col-12 col-sm-6">
              <q-input
                :error="
                  v$.form.username.$error ||
                  !lodash.isNull(apiFormErrors['username'])
                "
                :error-message="
                  v$.form.username.$error
                    ? formatErrorsMessages(v$.form.username.$errors)
                    : formatErrorsMessages(apiFormErrors['username'])
                "
                :label="
                  dialogProp.action === 'create'
                    ? $t('user.cols.username.title')
                    : $t('user.cols.username.title2')
                "
                @blur="v$.form.username.$touch"
                @input="v$.form.username.$touch"
                clearable
                color="primary"
                outlined
                dense
                v-model="form.username"
                :readonly="dialogProp.action !== 'create'"
              ></q-input>
            </div>
            <div class="col-12 col-sm-6">
              <q-input
                :error="
                  v$.form.password.$error ||
                  !lodash.isNull(apiFormErrors['password'])
                "
                :error-message="
                  v$.form.password.$error
                    ? formatErrorsMessages(v$.form.password.$errors)
                    : formatErrorsMessages(apiFormErrors['password'])
                "
                :label="
                  dialogProp.action === 'create'
                    ? $t('user.cols.password.title')
                    : $t('user.cols.password.title2')
                "
                @blur="v$.form.password.$touch"
                @input="v$.form.password.$touch"
                clearable
                color="primary"
                outlined
                dense
                :type="isPwd ? 'password' : 'text'"
                v-model="form.password"
              >
                <template v-slot:append>
                  <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd = !isPwd"
                    color="primary"
                  ></q-icon>
                </template>
              </q-input>
            </div>
            <div class="col-12 col-sm-6">
              <q-input
                :error="
                  v$.form.repeat_password.$error ||
                  !lodash.isNull(apiFormErrors['repeat_password'])
                "
                :error-message="
                  v$.form.repeat_password.$error
                    ? formatErrorsMessages(v$.form.repeat_password.$errors)
                    : formatErrorsMessages(apiFormErrors['repeat_password'])
                "
                :label="
                  dialogProp.action === 'create'
                    ? $t('user.cols.repeatPassword.title')
                    : $t('user.cols.repeatPassword.title2')
                "
                @blur="v$.form.repeat_password.$touch"
                @input="v$.form.repeat_password.$touch"
                clearable
                color="primary"
                outlined
                dense
                :type="isRptPwd ? 'password' : 'text'"
                v-model="form.repeat_password"
              >
                <template v-slot:append>
                  <q-icon
                    :name="isRptPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isRptPwd = !isRptPwd"
                    color="primary"
                  ></q-icon>
                </template>
              </q-input>
            </div>
            <div class="col-12 col-sm-6">
              <q-select
                v-model="form.gender"
                outlined
                dense
                :label="$t('user.cols.gender.title')"
                :error="
                  v$.form.gender.$error ||
                  !lodash.isNull(apiFormErrors['gender'])
                "
                :error-message="
                  v$.form.gender.$error
                    ? formatErrorsMessages(v$.form.gender.$errors)
                    : formatErrorsMessages(apiFormErrors['gender'])
                "
                :options="itemsGenders"
                @blur="v$.form.gender.$touch"
                @input="v$.form.gender.$touch"
                emit-value
                map-options
                color="primary"
              ></q-select>
            </div>
            <div class="col-12 col-sm-6">
              <q-input
                :error="
                  v$.form.age.$error || !lodash.isNull(apiFormErrors['age'])
                "
                :error-message="
                  v$.form.age.$error
                    ? formatErrorsMessages(v$.form.age.$errors)
                    : formatErrorsMessages(apiFormErrors['age'])
                "
                :label="$t('user.cols.age.title')"
                @blur="v$.form.age.$touch"
                @input="v$.form.age.$touch"
                color="primary"
                outlined
                dense
                type="number"
                v-model="form.age"
              ></q-input>
            </div>
            <div class="col-12 col-sm-6">
              <q-select
                v-model="form.hometown"
                outlined
                dense
                :label="$t('user.cols.hometown.title')"
                :error="
                  v$.form.hometown.$error ||
                  !lodash.isNull(apiFormErrors['hometown'])
                "
                :error-message="
                  v$.form.hometown.$error
                    ? formatErrorsMessages(v$.form.hometown.$errors)
                    : formatErrorsMessages(apiFormErrors['hometown'])
                "
                :options="itemsHometowns"
                @blur="v$.form.hometown.$touch"
                @input="v$.form.hometown.$touch"
                emit-value
                map-options
                clearable
                color="primary"
              ></q-select>
            </div>
            <div class="col-12 col-sm-6">
              <q-toggle
                v-model="form.is_active"
                checked-icon="add"
                unchecked-icon="remove"
                outlined
                dense
                :label="$t('user.cols.isActive.title')"
              ></q-toggle>
            </div>
            <div class="col-12">
              <div class="column">
                <div class="col self-end">
                  <q-btn
                    :label="$t(dialogProp.saveBtnTitle)"
                    :loading="loadingBtn"
                    color="primary"
                    type="submit"
                    size="12px"
                  ></q-btn>
                </div>
              </div>
            </div>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import URLPath from "../../helpers/URL";
import useVuelidate from "@vuelidate/core";
import {
  required,
  helpers,
  requiredIf,
  maxLength,
  minLength,
} from "@vuelidate/validators";
import FormMixin from "../../mixins/Common/Forms";
import HelpersMixin from "../../mixins/Common/Helpers";
import { mapGetters } from "vuex";

export default {
  name: "Form",
  mixins: [HelpersMixin, FormMixin],
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {
          title: "user.subtitle.title2",
          saveBtnTitle: "btn.save.title",
          action: "create",
        };
      },
    },
    itemsHometowns: {
      type: Array,
      default: function () {
        return [];
      },
    },
  },
  setup() {
    return {
      v$: useVuelidate(),
    };
  },
  validations() {
    return {
      form: {
        username: {
          required: helpers.withMessage(
            this.$t("user.cols.username.required"),
            required
          ),
          maxLength: helpers.withMessage(
            this.$t("user.cols.username.length", { min: 3, max: 50 }),
            maxLength(50)
          ),
          minLength: helpers.withMessage(
            this.$t("user.cols.username.length", { min: 3, max: 50 }),
            minLength(3)
          ),
        },
        first_name: {
          required: helpers.withMessage(
            this.$t("user.cols.firstName.required"),
            required
          ),
          maxLength: helpers.withMessage(
            this.$t("user.cols.firstName.length", { min: 3, max: 100 }),
            maxLength(100)
          ),
          minLength: helpers.withMessage(
            this.$t("user.cols.firstName.length", { min: 3, max: 100 }),
            minLength(3)
          ),
        },
        password: {
          maxLength: helpers.withMessage(
            this.$t("user.cols.password.length", { min: 3, max: 50 }),
            maxLength(50)
          ),
          minLength: helpers.withMessage(
            this.$t("user.cols.password.length", { min: 3, max: 50 }),
            minLength(3)
          ),
          required: helpers.withMessage(
            this.$t("user.cols.password.required"),
            requiredIf(() => {
              return !this.form["id"];
            })
          ),
        },
        age: {
          required: helpers.withMessage(
            this.$t("user.cols.age.required"),
            required
          ),
        },
        gender: {
          required: helpers.withMessage(
            this.$t("user.cols.gender.required"),
            required
          ),
        },
        hometown: {
          required: helpers.withMessage(
            this.$t("user.cols.hometown.required"),
            required
          ),
        },
        repeat_password: {
          sameAs: helpers.withMessage(
            this.$t("user.cols.repeatPassword.sameAs"),
            () => {
              return this.form.repeat_password === this.form.password;
            }
          ),
        },
      },
    };
  },
  data: () => ({
    dialog: false,
    loadingBtn: false,
    isPwd: true,
    isRptPwd: true,
    form: {
      username: null,
      first_name: null,
      password: null,
      age: null,
      gender: null,
      hometown: null,
      repeat_password: null,
      is_active: false,
    },
    itemsGenders: [],
  }),
  created() {
    this.setItemGender();
  },
  methods: {
    setItemGender() {
      const self = this;
      this.genders.forEach((r) => {
        self.itemsGenders.push({
          label: self.$t("genders." + r),
          value: r,
        });
      });
    },
    openDialog() {
      this.dialog = true;
    },
    closeDialog() {
      this.resetForm();
      this.dialog = false;
    },
    sendForm() {
      this.v$.$validate();
      if (!this.v$.$error) {
        let self = this;
        this.loadingBtn = true;
        this.save(this.getFormParam())
          .then(() => {
            const message =
              this.dialogProp.action === "create"
                ? self.$t("user.message.new")
                : self.$t("user.message.update");
            self.$store.dispatch("setNotification", {
              status: true,
              message: message,
            });
            self.dialog = false;
            this.$emit("getItems");
            self.resetForm();
          })
          .catch(() => {
            self.$forceUpdate();
          })
          .finally(() => {
            self.loadingBtn = false;
          });
      }
    },
    getFormParam() {
      let requestParam = {
        url: URLPath.USER.CREATE.URI,
        method: URLPath.USER.CREATE.METHOD,
        data: this.form,
      };
      if (this.dialogProp.action !== "create") {
        requestParam["url"] = URLPath.USER.EDIT.URI.replace(
          "{USER_ID}",
          this.form["id"]
        );
        let data = this.lodash.omit(this.form, ["id"]);
        data = this.form.password
          ? data
          : this.lodash.omit(data, ["password", "oldUsername"]);
        requestParam["data"] = data;
        requestParam["method"] = URLPath.USER.EDIT.METHOD;
      }
      return requestParam;
    },
    setForm(item) {
      this.form["id"] = item.id;
      this.form["old_username"] = item.username;
      this.form.username = item.username;
      this.form.hometown = item.profile?.hometown?.id;
      this.form.age = item.profile?.age;
      this.form.gender = item.profile?.gender;
      this.form.is_active = item.is_active;
      this.form.first_name = item.first_name;
    },
    resetForm() {
      this.form.username = null;
      this.form.first_name = null;
      this.form.password = null;
      this.form.age = null;
      this.form.gender = null;
      this.form.hometown = null;
      this.form.repeat_password = null;
      this.form.is_active = true;
      this.v$.$reset();
    },
  },
  computed: {
    ...mapGetters({
      genders: "user/genders",
    }),
  },
};
</script>

<style scoped>
.q-toolbar__title {
  font-size: 17px !important;
}
</style>
