<template>
  <q-page class="q-pa-lg">
    <div>
      <p class="text-h6 text-grey-8 text-weight-bold">
        {{ $t("user.title") }}
      </p>
    </div>
    <div class="row q-col-gutter-md">
      <div class="col-12">
        <q-card bordered flat>
          <q-card-section class="text-bold text-grey-8">
            <div>
              {{ $t("user.subtitle.title") }}
            </div>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-12">
        <q-table
          :columns="headers"
          :filter="search"
          :loading="loading.list"
          :no-data-label="$t('table.noData')"
          :no-results-label="$t('table.noResults')"
          :rows="items"
          :rows-per-page-options="rowsPerPageOptions"
          :visible-columns="visibleHeaders"
          @request="performFilter"
          class="my-sticky-header-column-table"
          row-key="id"
          v-model:pagination="pagination"
        >
          <template v-slot:top-left>
            <q-btn
              :label="$t('user.btn.new')"
              @click="openDialog()"
              align="around"
              class="btn-fixed-width q-mt-md q-mx-sm"
              color="primary"
              icon="add"
              outline
            >
            </q-btn>
            <q-btn
              :label="$t('btn.refresh.title')"
              :loading="loading.refresh"
              @click="refreshItems({ pagination: pagination, filter: search })"
              align="around"
              class="btn-fixed-width q-mt-md"
              color="primary"
              icon="refresh"
              outline
            >
              <template v-slot:loading>
                <q-spinner-facebook />
              </template>
            </q-btn>
            <q-btn
              :label="$t('btn.search.title2')"
              @click="openFilterDialog"
              align="around"
              class="btn-fixed-width q-mt-md q-mx-sm"
              color="primary"
              icon="filter_list"
              outline
            ></q-btn>
          </template>
          <template v-slot:top-right>
            <q-select
              :display-value="$t('table.columns')"
              :option-label="(item) => (item ? $t(item.label) : null)"
              :options="headers"
              class="q-mx-sm"
              dense
              emit-value
              map-options
              multiple
              option-value="name"
              options-cover
              options-dense
              outlined
              style="min-width: 150px"
              v-model="visibleHeaders"
            ></q-select>
          </template>
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th :key="col.name" :props="props" v-for="col in props.cols">
                {{ $t(col.label) }}
              </q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr
              :props="props"
              @mouseleave="unSelectItem()"
              @mouseover="selectItem(props.row)"
            >
              <q-td :props="props" key="username">
                {{ props.row.username }}
              </q-td>
              <q-td :props="props" key="is_active">
                <q-toggle
                  :loading="statusLoading"
                  @click="changeStatus(props.row)"
                  checked-icon="add"
                  unchecked-icon="remove"
                  v-model="props.row.is_active"
                ></q-toggle>
              </q-td>
              <q-td :props="props" key="first_name">
                {{ props.row.first_name }}
              </q-td>
              <q-td :props="props" key="gender">
                <template v-if="props.row.profile">
                  <q-badge :color="getGenderColor(props.row.profile.gender)">
                    {{ $t("genders." + props.row.profile.gender) }}
                  </q-badge>
                </template>
              </q-td>
              <q-td :props="props" key="age">
                <template v-if="props.row.profile">
                  {{ props.row.profile?.age }}
                </template>
              </q-td>
              <q-td :props="props" key="hometown">
                <template v-if="props.row.profile">
                  {{ props.row.profile?.hometown?.name }}
                </template>
              </q-td>
              <q-td :props="props" key="last_name">
                {{ props.row.last_name }}
              </q-td>
              <q-td :props="props" key="last_login">
                {{ props.row.last_login }}
              </q-td>
              <q-td :props="props" key="created">
                {{ props.row.created }}
              </q-td>
              <q-td :props="props" key="action">
                <template v-if="props.row === selectedItem">
                  <q-btn
                    @click="openDialog(props.row)"
                    color="primary"
                    flat
                    icon="edit"
                    round
                    size="12px"
                  >
                    <q-tooltip>
                      {{ $t("user.btn.tooltip.edit.title") }}
                    </q-tooltip>
                  </q-btn>
                  <q-btn
                    flat
                    size="11px"
                    round
                    color="primary"
                    icon="visibility"
                    @click="openViewDialog(props.row)"
                  >
                    <q-tooltip>
                      {{ $t("user.btn.tooltip.view.title") }}
                    </q-tooltip>
                  </q-btn>
                  <q-btn
                    @click="openDeleteDialog(props.row)"
                    color="red"
                    flat
                    icon="delete"
                    round
                    size="12px"
                  >
                    <q-tooltip>
                      {{ $t("user.btn.tooltip.delete.title") }}
                    </q-tooltip>
                  </q-btn>
                </template>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
    </div>
    <my-form
      :dialogProp="dialogProp"
      @getItems="refreshItems({ pagination: pagination, filter: search })"
      ref="myForm"
      :itemsHometowns="itemsHometowns"
    ></my-form>
    <delete-form
      @getItems="refreshItems({ pagination: pagination, filter: search })"
      ref="deleteForm"
    ></delete-form>
    <filter-form
      @resetForm="resetFilter"
      @sendForm="launchFilter"
      ref="filterForm"
      :itemsHometowns="itemsHometowns"
    ></filter-form>
    <view-form ref="viewForm"></view-form>
  </q-page>
</template>

<script>
import ListMixin from "../../mixins/Common/List";
import URLPath from "../../helpers/URL";
import HelpersMixin from "../../mixins/Common/Helpers";
import MyForm from "./Form";
import DeleteForm from "./DeleteForm";
import FilterForm from "./FilterForm";
import ViewForm from "./ViewForm";

export default {
  name: "Index",
  mixins: [HelpersMixin, ListMixin],
  data: () => ({
    dialogProp: {
      title: "user.new.title",
      saveBtnTitle: "btn.save.title",
      action: "create",
    },
    statusLoading: false,
    itemsHometowns: [],
    myFilters: {
      username: null,
      first_name: null,
      age: { start: null, end: null },
      gender: null,
      hometown: null,
      operator: null,
    },
  }),
  created() {
    this.urlItems = URLPath.USER.LIST;
    this.performFilter({ pagination: this.pagination, filter: this.search });
    this.getHometowns();
  },
  methods: {
    getHometowns() {
      let params = {
        url: URLPath.HOMETOWN.LIST,
        params: {
          size: 10000,
        },
      };
      this.$store.dispatch("request", params).then((r) => {
        let self = this;
        r.data.items.forEach((app) => {
          self.itemsHometowns.push({
            label: app.name,
            value: app.id,
          });
        });
      });
    },
    setHeaders() {
      this.headers = [
        {
          name: "username",
          required: true,
          label: "user.cols.username.title2",
          align: "left",
          sortable: false,
          headerStyle: "width: 170px",
          style: "width: 170px",
        },
        {
          name: "is_active",
          required: false,
          label: "user.cols.isActive.title",
          align: "left",
          sortable: false,
          headerStyle: "width: 80px",
          style: "width: 80px",
        },
        {
          name: "first_name",
          required: false,
          label: "user.cols.firstName.title2",
          align: "left",
          sortable: false,
          headerStyle: "width: 170px",
          style: "width: 170px",
        },
        {
          name: "gender",
          required: false,
          label: "user.cols.gender.title2",
          align: "left",
          sortable: false,
          headerStyle: "width: 90px",
          style: "width: 90px",
        },
        {
          name: "age",
          required: false,
          label: "user.cols.age.title2",
          align: "left",
          sortable: false,
          headerStyle: "width: 80px",
          style: "width: 80px",
        },
        {
          name: "hometown",
          required: false,
          label: "user.cols.hometown.title2",
          align: "left",
          sortable: false,
          headerStyle: "width: 180px",
          style: "width: 180px",
        },
        {
          name: "last_name",
          required: false,
          label: "user.cols.lastName.title",
          align: "left",
          sortable: false,
          headerStyle: "width: 170px",
          style: "width: 170px",
        },
        {
          name: "last_login",
          required: false,
          label: "user.cols.lastLogin.title",
          align: "left",
          sortable: false,
          headerStyle: "width: 175px",
          style: "width: 175px",
        },
        {
          name: "created",
          required: false,
          label: "user.cols.created.title",
          align: "left",
          sortable: false,
          headerStyle: "width: 180px",
          style: "width: 180px",
        },
        {
          name: "action",
          required: false,
          label: "user.cols.action.title",
          align: "left",
          sortable: false,
          headerStyle: "width: 150px",
          style: "width: 150px",
        },
      ];
    },
    setVisibleHeaders() {
      this.visibleHeaders = [
        "username",
        "is_active",
        "gender",
        "age",
        "hometown",
        "first_name",
        "last_login",
        "action",
      ];
    },
    buildFilterQuery() {
      let query = {};
      if (this.myFilters.username) query["username"] = this.myFilters.username;
      if (this.myFilters.first_name)
        query["first_name"] = this.myFilters.first_name;
      if (this.myFilters.gender) query["p_gender"] = this.myFilters.gender;
      if (this.myFilters.hometown)
        query["p_hometown"] = this.myFilters.hometown;
      if (this.myFilters.operator && this.myFilters.age.start) {
        query["p_age"] = {
          content: { start: parseInt(this.myFilters.age.start) },
          operator: this.myFilters.operator,
        };
        if (this.myFilters.operator === "between" && this.myFilters.age.end)
          query["p_age"]["content"]["end"] = parseInt(this.myFilters.age.end);
      }

      return query;
    },
    performFilter(props) {
      this.filters = this.buildFilterQuery();
      this.getItems(props);
    },
    getGenderColor(gender) {
      return gender === "Male" ? "primary" : "purple";
    },
    openDialog(item = null) {
      if (item) {
        this.dialogProp.title = "user.subtitle.title3";
        this.dialogProp.saveBtnTitle = "btn.save.title";
        this.dialogProp.action = "update";
        this.$refs.myForm.setForm(item);
      } else {
        this.dialogProp.title = "user.subtitle.title2";
        this.dialogProp.saveBtnTitle = "btn.save.title";
        this.dialogProp.action = "create";
      }
      this.$refs.myForm.openDialog();
    },
    changeStatus(item) {
      const requestParam = {
        url: URLPath.USER.EDIT.URI.replace("{USER_ID}", item.id),
        method: URLPath.USER.EDIT.METHOD,
        data: {
          isActive: item.is_active,
        },
      };
      const self = this;
      this.statusLoading = true;
      this.$store
        .dispatch("request", requestParam)
        .then(() => {
          const message = item.is_active
            ? self.$t("user.message.status.title")
            : self.$t("user.message.status.title2");
          self.$store.dispatch("setNotification", {
            status: true,
            message: message,
          });
        })
        .finally(() => {
          self.statusLoading = false;
        });
    },
    openDeleteDialog(item) {
      this.$refs.deleteForm.setForm(item);
      this.$refs.deleteForm.openDialog();
    },
    launchFilter(filter) {
      this.myFilters = filter;
      this.filters = this.buildFilterQuery();
      this.performFilter({ pagination: this.pagination, filter: this.search });
    },
    openFilterDialog() {
      this.$refs.filterForm.openDialog();
    },
    resetFilter() {
      this.myFilters.username = null;
      this.myFilters.first_name = null;
      this.myFilters.age = { start: null, end: null };
      this.myFilters.gender = null;
      this.myFilters.hometown = null;
      this.myFilters.operator = null;
      this.performFilter({ pagination: this.pagination, filter: this.search });
    },
    openViewDialog(item) {
      this.$refs.viewForm.setForm(item);
      this.$refs.viewForm.openDialog();
    },
  },
  components: {
    MyForm,
    DeleteForm,
    FilterForm,
    ViewForm,
  },
};
</script>

<style lang="sass" scoped>
.q-table td, .q-table th
	white-space: normal !important

.q-badge
	font-size: 14px !important

.my-sticky-header-column-table

	td:first-child
		/* bg color is important for td; just specify one */
		background-color: #c1f4cd !important

	tr th
		position: sticky
		/* higher than z-index for td below */
		z-index: 2
		/* bg color is important; just specify one */
		background: #fff

		font-size: 14px

		font-weight: 500


	/* this will be the loading indicator */


	thead tr:last-child th
		/* height of all previous header rows */
		top: 48px
		/* highest z-index */
		z-index: 3

	thead tr:first-child th
		top: 0
		z-index: 1

	tr:first-child th:first-child
		/* highest z-index */
		z-index: 3

	td:first-child
		z-index: 1

	td:first-child, th:first-child
		position: sticky
		left: 0
</style>
