<template>
  <q-dialog v-model="dialog">
    <q-card style="width: 650px; max-width: 80vw">
      <q-toolbar>
        <q-toolbar-title
          ><span class="text-weight-bold">{{
            $t("user.subtitle.title7")
          }}</span></q-toolbar-title
        >

        <q-btn dense flat icon="close" round v-close-popup />
      </q-toolbar>
      <q-list class="q-py-lg">
        <q-item>
          <q-item-section>
            <q-item-label class="text-bold">{{ form.first_name }}</q-item-label>
            <q-item-label caption lines="2">{{
              $t("user.cols.firstName.title2")
            }}</q-item-label>
          </q-item-section>
        </q-item>
        <q-separator spaced inset />
        <q-item>
          <q-item-section>
            <q-item-label class="text-bold">{{ form.last_name }}</q-item-label>
            <q-item-label caption lines="2">{{
              $t("user.cols.lastName.title")
            }}</q-item-label>
          </q-item-section>
        </q-item>
        <q-separator spaced inset />
        <q-item>
          <q-item-section>
            <q-item-label class="text-bold">{{ form.username }}</q-item-label>
            <q-item-label caption lines="2">{{
              $t("user.cols.username.title2")
            }}</q-item-label>
          </q-item-section>
        </q-item>
        <q-separator spaced inset />
        <q-item>
          <q-item-section>
            <q-item-label class="text-bold">{{ form.gender }}</q-item-label>
            <q-item-label caption lines="2">{{
              $t("user.cols.gender.title2")
            }}</q-item-label>
          </q-item-section>
        </q-item>
        <q-separator spaced inset />
        <q-item>
          <q-item-section>
            <q-item-label class="text-bold">{{ form.age }}</q-item-label>
            <q-item-label caption lines="2">{{
              $t("user.cols.age.title2")
            }}</q-item-label>
          </q-item-section>
        </q-item>
        <q-separator spaced inset />
        <q-item>
          <q-item-section>
            <q-item-label class="text-bold">{{ form.hometown }}</q-item-label>
            <q-item-label caption lines="2">{{
              $t("user.cols.hometown.title2")
            }}</q-item-label>
          </q-item-section>
        </q-item>
        <q-separator spaced inset />
        <q-item>
          <q-item-section>
            <q-item-label class="text-bold">{{ form.created }}</q-item-label>
            <q-item-label caption lines="2">{{
              $t("user.cols.created.title")
            }}</q-item-label>
          </q-item-section>
        </q-item>
        <q-separator spaced inset />
        <q-item>
          <q-item-section>
            <q-item-label class="text-bold">{{ form.last_login }}</q-item-label>
            <q-item-label caption lines="2">{{
              $t("user.cols.lastLogin.title")
            }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-card>
  </q-dialog>
</template>

<script>
import HelpersMixin from "../../mixins/Common/Helpers";

export default {
  name: "ViewForm",
  mixins: [HelpersMixin],
  data: () => ({
    dialog: false,
    form: {
      username: null,
      first_name: null,
      password: null,
      age: null,
      gender: null,
      hometown: null,
      repeat_password: null,
      is_active: false,
    },
  }),
  methods: {
    openDialog() {
      this.dialog = true;
    },
    setForm(item) {
      this.form.username = item.username;
      this.form.hometown = item.profile?.hometown?.name;
      this.form.age = item.profile?.age;
      this.form.gender = item.profile?.gender;
      this.form.is_active = item.is_active;
      this.form.first_name = item.first_name;
      this.form.last_name = item.last_name;
      this.form.created = item.created;
      this.form.last_login = item.last_login;
    },
  },
};
</script>

<style scoped></style>
