<template>
  <metainfo>
    <template v-slot:title="{ content }">
      {{ $t("security.title") }} | {{ $t(content) }}</template
    >
  </metainfo>
  <login></login>
</template>

<script>
import Login from "./../../components/security/Index.vue";

export default {
  data: () => ({}),
  components: {
    Login,
  },
};
</script>
