body {
  margin: 40px;
  background-image: url("");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: /*bottom shadow*/ 0px 20px 20px rgba(0, 0, 0, 0.2),
    0px 5px 10px rgba(0, 0, 0, 0.2),
    /*long bottom shadow*/ 0px 70px 50px rgba(0, 0, 0, 0.4),
    /*right shadow*/ 30px 50px 50px rgba(0, 0, 0, 0.2),
    /*left shadow*/ -30px 50px 50px rgba(0, 0, 0, 0.2),
    /*right inset*/ inset 20px 0px 60px rgba(0, 0, 0, 0.1),
    /*left inset*/ inset -20px 0px 60px rgba(0, 0, 0, 0.1);
}

.body-wrapper-custom {
  padding: 60px 35px 35px 35px;
  border-radius: 10px;
}

.a-btn {
  height: -30px;
  background-color: #1fa055;
  border-color: #16b84e;
  border-radius: 0px;
}

.table-theader-custom {
  background-color: #1fa055;
  border-color: #16b84e;
  color: white;
  border-radius: 40px;
}
