// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #4285F4;
$secondary: #C5221E;
$accent: #9c27b0;

$orange-1: #FF6600;
$yellow-1: #FFCB05;
$blue-1: #279BD3;
$red-1: #C71C2C;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$body-font-size: 15px;
$body-line-height: 1.5;

$button-font-size: 12.5px;

$typography-font-family: "Noto Sans", sans-serif;

@import "~quasar-variables-styl";
