<script>
const _ = require("lodash");

export default {
  name: "Helpers",
  methods: {
    formatErrorsMessages(errors) {
      let resp = "";
      if (_.isNull(errors)) return;
      _.forEach(errors, (error) => {
        // eslint-disable-next-line no-prototype-builtins
        resp += error.hasOwnProperty("$message") ? error.$message : error;
        resp += "\n";
      });
      return resp;
    },
  },
  data: () => ({
    lodash: _,
  }),
};
</script>

<style scoped></style>
