<template>
  <q-page class="q-pa-lg">
    <div>
      <p class="text-h6 text-grey-8 text-weight-bold">
        {{ $t("account.title") }}
      </p>
    </div>
    <div class="row q-col-gutter-md">
      <div class="col-12">
        <q-card bordered flat>
          <q-tabs
            v-model="tab"
            dense
            class="text-grey"
            active-color="primary"
            indicator-color="primary"
            align="justify"
            narrow-indicator
          >
            <q-tab
              :name="item.value"
              :label="$t('account.tabs.' + item.value + '.title')"
              v-for="(item, key) in tabs"
              :key="key"
              :icon="item.icon"
            >
            </q-tab>
          </q-tabs>
          <q-separator />
        </q-card>
      </div>
      <div class="col-12">
        <div class="row q-col-gutter-md text-caption">
          <div class="col-12 col-sm-5">
            <q-card>
              <div class="text-center">
                <div class="q-pa-lg">
                  <q-avatar size="90px">
                    <img src="@/assets/user.png" />
                  </q-avatar>
                  <div>{{ $auth.user()?.username }}</div>
                </div>
              </div>
              <div>
                <q-list>
                  <q-item>
                    <q-item-section avatar top>
                      <q-icon
                        name="schedule"
                        color="black"
                        size="25px"
                      ></q-icon>
                    </q-item-section>

                    <q-item-section>
                      <q-item-label class="text-grey-8 text-bold">{{
                        $t("account.cols.created.title")
                      }}</q-item-label>
                    </q-item-section>

                    <q-item-section side>
                      <div class="text-grey-8">
                        {{ $auth.user()?.last_login }}
                      </div>
                    </q-item-section>
                  </q-item>

                  <q-item>
                    <q-item-section avatar top>
                      <q-icon
                        name="schedule"
                        color="black"
                        size="25px"
                      ></q-icon>
                    </q-item-section>

                    <q-item-section>
                      <q-item-label class="text-grey-8 text-bold">{{
                        $t("account.cols.created.title2")
                      }}</q-item-label>
                    </q-item-section>

                    <q-item-section side>
                      <div class="text-grey-8">
                        {{ $auth.user()?.profile?.updated }}
                      </div>
                    </q-item-section>
                  </q-item>
                </q-list>
              </div>
            </q-card>
          </div>
          <div class="col-12 col-sm-7">
            <q-card>
              <q-tab-panels v-model="tab" animated>
                <q-tab-panel
                  :name="item.value"
                  v-for="(item, key) in tabs"
                  :key="key"
                >
                  <component
                    :is="item.value"
                    :itemsHometowns="itemsHometowns"
                  ></component>
                </q-tab-panel>
              </q-tab-panels>
            </q-card>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import Profile from "./Profile";
import Password from "./Password";
import URLPath from "../../helpers/URL";

export default {
  name: "Index",
  data: () => ({
    tabs: [
      {
        icon: "badge",
        value: "profile",
      },
      {
        icon: "security",
        value: "password",
      },
    ],
    tab: "profile",
    itemsHometowns: [],
  }),
  created() {
    this.getHometowns();
  },
  methods: {
    getHometowns() {
      let params = {
        url: URLPath.HOMETOWN.LIST,
        params: {
          size: 10000,
        },
      };
      this.$store.dispatch("request", params).then((r) => {
        let self = this;
        r.data.items.forEach((app) => {
          self.itemsHometowns.push({
            label: app.name,
            value: app.id,
          });
        });
      });
    },
  },
  components: {
    Profile,
    Password,
  },
};
</script>

<style scoped></style>
