<template>
  <div class="text-bold">
    <div class="text-body2 text-weight-bold">
      {{ $t("account.tabs.password.title") }}
    </div>
    <div class="text-grey-8 text-caption">
      {{ $t("account.tabs.password.title2") }}
    </div>
  </div>
  <div class="q-my-lg">
    <q-form @submit="sendForm" autocomplete="off">
      <div class="row q-col-gutter-md">
        <div class="col-12">
          <q-input
            :error="
              v$.form.old_password.$error ||
              !lodash.isNull(apiFormErrors['old_password'])
            "
            :error-message="
              v$.form.old_password.$error
                ? formatErrorsMessages(v$.form.old_password.$errors)
                : formatErrorsMessages(apiFormErrors['old_password'])
            "
            :label="$t('account.cols.oldPassword.title')"
            @blur="v$.form.old_password.$touch"
            @input="v$.form.old_password.$touch"
            color="primary"
            outlined
            dense
            v-model="form.old_password"
            :type="isOldPwd ? 'password' : 'text'"
          >
            <template v-slot:append>
              <q-icon
                :name="isOldPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isOldPwd = !isOldPwd"
                color="primary"
              ></q-icon>
            </template>
          </q-input>
        </div>
        <div class="col-12">
          <q-input
            :error="
              v$.form.password.$error ||
              !lodash.isNull(apiFormErrors['password'])
            "
            :error-message="
              v$.form.password.$error
                ? formatErrorsMessages(v$.form.password.$errors)
                : formatErrorsMessages(apiFormErrors['password'])
            "
            :label="$t('account.cols.password.title')"
            @blur="v$.form.password.$touch"
            @input="v$.form.password.$touch"
            color="primary"
            outlined
            dense
            v-model="form.password"
            :type="isPwd ? 'password' : 'text'"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
                color="primary"
              ></q-icon>
            </template>
          </q-input>
        </div>
        <div class="col-12">
          <q-input
            :error="
              v$.form.repeat_password.$error ||
              !lodash.isNull(apiFormErrors['repeat_password'])
            "
            :error-message="
              v$.form.repeat_password.$error
                ? formatErrorsMessages(v$.form.repeat_password.$errors)
                : formatErrorsMessages(apiFormErrors['repeat_password'])
            "
            :label="$t('account.cols.repeatPassword.title')"
            @blur="v$.form.repeat_password.$touch"
            @input="v$.form.repeat_password.$touch"
            color="primary"
            outlined
            dense
            v-model="form.repeat_password"
            :type="isRptPwd ? 'password' : 'text'"
          >
            <template v-slot:append>
              <q-icon
                :name="isRptPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isRptPwd = !isRptPwd"
                color="primary"
              ></q-icon>
            </template>
          </q-input>
        </div>
        <div class="col-12">
          <div class="text-right">
            <q-btn
              :label="$t('btn.save.title')"
              :loading="loadingBtn"
              color="primary"
              type="submit"
              outline
              size="12px"
            ></q-btn>
          </div>
        </div>
      </div>
    </q-form>
  </div>
</template>

<script>
import URLPath from "../../helpers/URL";
import useVuelidate from "@vuelidate/core";
import { required, helpers, maxLength, minLength } from "@vuelidate/validators";
import FormMixin from "../../mixins/Common/Forms";
import HelpersMixin from "../../mixins/Common/Helpers";
export default {
  name: "Password",
  mixins: [HelpersMixin, FormMixin],
  props: {
    itemsHometowns: {
      type: Array,
      default: function () {
        return [];
      },
    },
  },
  setup() {
    return {
      v$: useVuelidate(),
    };
  },
  validations() {
    return {
      form: {
        old_password: {
          required: helpers.withMessage(
            this.$t("account.cols.oldPassword.required"),
            required
          ),
        },
        repeat_password: {
          sameAs: helpers.withMessage(
            this.$t("account.cols.repeatPassword.sameAs"),
            () => {
              return this.form.repeat_password === this.form.password;
            }
          ),
        },
        password: {
          required: helpers.withMessage(
            this.$t("account.cols.password.required"),
            required
          ),
          maxLength: helpers.withMessage(
            this.$t("account.cols.password.length", { min: 3, max: 50 }),
            maxLength(50)
          ),
          minLength: helpers.withMessage(
            this.$t("account.cols.password.length", { min: 3, max: 50 }),
            minLength(3)
          ),
        },
      },
    };
  },
  data: () => ({
    loadingBtn: false,
    isRptPwd: true,
    isPwd: true,
    isOldPwd: true,
    form: {
      password: null,
      repeat_password: null,
      old_password: null,
    },
  }),
  methods: {
    sendForm() {
      this.v$.$validate();
      if (!this.v$.$error) {
        let self = this;
        this.loadingBtn = true;
        this.save(this.getFormParam())
          .then(() => {
            self.$store.dispatch("setNotification", {
              status: true,
              message: self.$t("account.message.update.title2"),
            });
            this.$auth.logout();
          })
          .finally(() => {
            self.loadingBtn = false;
          });
      }
    },
    getFormParam() {
      return {
        url: URLPath.USER.CHANGE_PASSWORD.URI,
        method: URLPath.USER.CHANGE_PASSWORD.METHOD,
        data: this.lodash.omit(this.form, ["repeat_password"]),
      };
    },
  },
};
</script>

<style scoped></style>
