<template>
  <div class="text-bold">
    <div class="text-body2 text-weight-bold">
      {{ $t("account.tabs.profile.title") }}
    </div>
    <div class="text-grey-8 text-caption">
      {{ $t("account.tabs.profile.title2") }}
    </div>
  </div>
  <div class="q-my-lg">
    <q-form @submit="sendForm" autocomplete="off">
      <div class="row q-col-gutter-md">
        <div class="col-12 col-sm-6">
          <q-input
            :error="
              v$.form.first_name.$error ||
              !lodash.isNull(apiFormErrors['first_name'])
            "
            :error-message="
              v$.form.first_name.$error
                ? formatErrorsMessages(v$.form.first_name.$errors)
                : formatErrorsMessages(apiFormErrors['first_name'])
            "
            :label="$t('account.cols.firstName.title')"
            @blur="v$.form.first_name.$touch"
            @input="v$.form.first_name.$touch"
            color="primary"
            outlined
            dense
            v-model="form.first_name"
          ></q-input>
        </div>
        <div class="col-12 col-sm-6" style="padding-bottom: 20px">
          <q-input
            :label="$t('account.cols.lastName.title')"
            color="primary"
            outlined
            dense
            v-model="form.last_name"
          ></q-input>
        </div>
        <div class="col-12 col-sm-6">
          <q-select
            v-model="form.gender"
            outlined
            dense
            :label="$t('user.cols.gender.title')"
            :error="
              v$.form.gender.$error || !lodash.isNull(apiFormErrors['gender'])
            "
            :error-message="
              v$.form.gender.$error
                ? formatErrorsMessages(v$.form.gender.$errors)
                : formatErrorsMessages(apiFormErrors['gender'])
            "
            :options="itemsGenders"
            @blur="v$.form.gender.$touch"
            @input="v$.form.gender.$touch"
            emit-value
            map-options
            color="primary"
          ></q-select>
        </div>
        <div class="col-12 col-sm-6">
          <q-input
            :error="v$.form.age.$error || !lodash.isNull(apiFormErrors['age'])"
            :error-message="
              v$.form.age.$error
                ? formatErrorsMessages(v$.form.age.$errors)
                : formatErrorsMessages(apiFormErrors['age'])
            "
            :label="$t('user.cols.age.title')"
            @blur="v$.form.age.$touch"
            @input="v$.form.age.$touch"
            color="primary"
            outlined
            dense
            type="number"
            v-model="form.age"
          ></q-input>
        </div>
        <div class="col-12 col-sm-12">
          <q-select
            v-model="form.hometown"
            outlined
            dense
            :label="$t('user.cols.hometown.title')"
            :error="
              v$.form.hometown.$error ||
              !lodash.isNull(apiFormErrors['hometown'])
            "
            :error-message="
              v$.form.hometown.$error
                ? formatErrorsMessages(v$.form.hometown.$errors)
                : formatErrorsMessages(apiFormErrors['hometown'])
            "
            :options="itemsHometowns"
            emit-value
            map-options
            @blur="v$.form.hometown.$touch"
            @input="v$.form.hometown.$touch"
            color="primary"
          ></q-select>
        </div>
        <div class="col-12">
          <div class="text-right">
            <q-btn
              :label="$t('btn.save.title')"
              :loading="loadingBtn"
              color="primary"
              type="submit"
              outline
              size="12px"
            ></q-btn>
          </div>
        </div>
      </div>
    </q-form>
  </div>
</template>

<script>
import URLPath from "../../helpers/URL";
import useVuelidate from "@vuelidate/core";
import { required, helpers, maxLength, minLength } from "@vuelidate/validators";
import FormMixin from "../../mixins/Common/Forms";
import HelpersMixin from "../../mixins/Common/Helpers";
import { mapGetters } from "vuex";

export default {
  name: "Profile",
  mixins: [HelpersMixin, FormMixin],
  props: {
    itemsHometowns: {
      type: Array,
      default: function () {
        return [];
      },
    },
  },
  setup() {
    return {
      v$: useVuelidate(),
    };
  },
  validations() {
    return {
      form: {
        first_name: {
          required: helpers.withMessage(
            this.$t("account.cols.firstName.required"),
            required
          ),
          maxLength: helpers.withMessage(
            this.$t("account.cols.firstName.length", { min: 3, max: 100 }),
            maxLength(100)
          ),
          minLength: helpers.withMessage(
            this.$t("account.cols.firstName.length", { min: 3, max: 100 }),
            minLength(3)
          ),
        },
        gender: {
          required: helpers.withMessage(
            this.$t("account.cols.gender.required"),
            required
          ),
        },
        age: {
          required: helpers.withMessage(
            this.$t("account.cols.gender.required"),
            required
          ),
        },
        hometown: {
          required: helpers.withMessage(
            this.$t("account.cols.hometown.required"),
            required
          ),
        },
      },
    };
  },
  created() {
    this.setForm();
    this.setItemGender();
  },
  data: () => ({
    loadingBtn: false,
    form: {
      first_name: null,
      last_name: null,
      age: null,
      hometown: null,
      gender: null,
    },
    itemsGenders: [],
  }),
  methods: {
    setItemGender() {
      const self = this;
      this.genders.forEach((r) => {
        self.itemsGenders.push({
          label: self.$t("genders." + r),
          value: r,
        });
      });
    },
    sendForm() {
      this.v$.$validate();
      if (!this.v$.$error) {
        let self = this;
        this.loadingBtn = true;
        this.save(this.getFormParam())
          .then(() => {
            self.$store.dispatch("setNotification", {
              status: true,
              message: self.$t("account.message.update.title"),
            });
            self.$auth.fetch();
          })
          .finally(() => {
            self.loadingBtn = false;
          });
      }
    },
    getFormParam() {
      return {
        url: URLPath.USER.EDIT.URI.replace("{USER_ID}", this.$auth.user().id),
        method: URLPath.USER.EDIT.METHOD,
        data: this.form,
      };
    },
    setForm() {
      this.form.first_name = this.$auth.user()?.first_name;
      this.form.last_name = this.$auth.user()?.last_name;
      this.form.hometown = this.$auth.user()?.profile?.hometown?.id;
      this.form.age = this.$auth.user()?.profile?.age;
      this.form.gender = this.$auth.user()?.profile?.gender;
    },
  },
  computed: {
    ...mapGetters({
      genders: "user/genders",
    }),
  },
};
</script>

<style scoped></style>
