<template>
  <q-layout class="bg-grey-1" view="hHh lpR fFf">
    <q-header class="bg-primary text-grey-8" elevated height-hint="60">
      <q-toolbar class="GES_USERS__toolbar">
        <q-btn
          @click="toggleLeftDrawer"
          aria-label="Menu"
          class="q-mr-sm"
          color="white"
          dense
          flat
          icon="menu"
          round
        ></q-btn>

        <q-toolbar-title
          class="row items-center no-wrap"
          shrink
          v-if="$q.screen.gt.xs"
        >
          <span class="q-ml-sm text-white text-weight-bold">{{
            $t("appName")
          }}</span>
        </q-toolbar-title>

        <q-space />
      </q-toolbar>
    </q-header>

    <q-drawer
      :width="260"
      bordered
      class="bg-white"
      show-if-above
      v-model="leftDrawerOpen"
    >
      <q-scroll-area class="fit">
        <q-list bordered class="text-grey-8" padding>
          <q-item clickable v-ripple>
            <q-item-section avatar>
              <q-avatar size="55px">
                <img src="@/assets/user.png" />
              </q-avatar>
            </q-item-section>
            <q-item-section>
              <q-item-label class="text-bold text-grey-8"
                >{{
                  $auth.user() ? $auth.user().first_name.toUpperCase() : null
                }}
              </q-item-label>
              <q-item-label caption class="text-bold text-left" lines="3">
                <q-btn
                  :loading="btnLoading"
                  @click="logout()"
                  class="gt-xs q-pa-md"
                  color="red"
                  dense
                  flat
                  icon="logout"
                  round
                  size="11px"
                >
                  <q-tooltip>
                    {{ $t("btn.logout.title") }}
                  </q-tooltip>
                </q-btn>
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-separator class="q-my-md" />
          <template :key="link.text" v-for="link in links">
            <template v-if="!link.children || link.children.length === 0">
              <q-item
                :to="{ name: link.route }"
                class="GES_USERS__drawer-item text-weight-bold"
                clickable
                v-if="$auth.check(link.role)"
                v-ripple
                :exact="link.exact"
                active-class="text-secondary"
              >
                <q-item-section avatar v-if="link.icon">
                  <q-icon :name="link.icon" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ $t(link.text) }}</q-item-label>
                </q-item-section>
              </q-item>
            </template>
            <template v-else>
              <template v-if="$auth.check(link.role)">
                <q-expansion-item
                  class="GES_USERS__drawer-item text-weight-bold"
                  :icon="link.icon"
                  :label="$t(link.text)"
                  :header-inset-level="0"
                  :header-class="
                    $route?.matched[1]?.path?.includes(link.path)
                      ? 'text-secondary'
                      : ''
                  "
                  :default-opened="
                    $route?.matched[1]?.path?.includes(link.path)
                  "
                >
                  <template v-for="child in link.children">
                    <q-item
                      :to="{ name: child.route }"
                      class="GES_USERS__drawer-item text-weight-bold"
                      clickable
                      v-if="$auth.check(child.role)"
                      v-ripple
                      :inset-level="1"
                      :key="child"
                      :exact="child.exact"
                      active-class="text-secondary"
                    >
                      <q-item-section avatar v-if="child.icon">
                        <q-icon :name="child.icon" />
                      </q-item-section>
                      <q-item-section>
                        <q-item-label>{{ $t(child.text) }}</q-item-label>
                      </q-item-section>
                    </q-item>
                  </template>
                </q-expansion-item>
              </template>
            </template>
          </template>
        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { ref } from "vue";

export default {
  name: "Layout",
  setup() {
    const leftDrawerOpen = ref(false);
    const btnLoading = ref(false);
    const openPopup = ref(false);
    function toggleLeftDrawer() {
      leftDrawerOpen.value = !leftDrawerOpen.value;
    }

    return {
      leftDrawerOpen,
      links: [
        {
          icon: "people",
          text: "toolbar.menu.user",
          route: "user",
          exact: true,
        },
        {
          icon: "manage_accounts",
          text: "toolbar.menu.account",
          route: "account",
          exact: true,
        },
      ],
      toggleLeftDrawer,
      btnLoading,
      openPopup,
    };
  },
  methods: {
    logout() {
      let self = this;
      this.btnLoading = true;
      this.$auth
        .logout()
        .then(() => {})
        .catch((error) => {
          // eslint-disable-next-line no-prototype-builtins
          if (error.hasOwnProperty("response")) {
            if (
              // eslint-disable-next-line no-prototype-builtins
              !error.response.hasOwnProperty("status") ||
              error.response.status !== 401
            ) {
              self.$store.dispatch("setNotification", {
                status: true,
                message: this.$t("message.error.500"),
              });
            } else {
              self.$router.push({ name: "login" });
            }
          }
        })
        .finally(() => {
          self.btnLoading = false;
        });
    },
  },
};
</script>

<style lang="sass">
.GES_USERS
	&__toolbar
		height: 64px

	&__toolbar-input
		width: 55%

	&__drawer-item
		line-height: 24px
		border-radius: 0 24px 24px 0
		margin-right: 12px
</style>
