<template>
  <q-layout view="hHh LpR fFf">
    <q-page-container>
      <q-page
        class="window-height window-width row justify-center items-center"
      >
        <div class="column q-pa-lg">
          <div class="row">
            <div class="text-center">
              <h1>{{ title }}</h1>
              <h2>{{ message }}</h2>
              <div>
                <q-btn
                  @click="$router.push({ name: 'dashboard' })"
                  color="primary"
                  >{{ $t("exception.btn.back") }}
                </q-btn>
              </div>
            </div>
          </div>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: "Exception",
  props: ["title", "message"],
};
</script>

<style lang="css" scoped>
h1 {
  font-size: 100px;
  line-height: 100px;
  font-weight: 600;
  color: #252932;
  text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px,
    rgba(61, 61, 61, 0.3) 3px 3px;
}
</style>
