<template>
  <metainfo>
    <template v-slot:title="{ content }">
      {{ $t("user.title") }} | {{ $t(content) }}</template
    >
  </metainfo>
  <user></user>
</template>

<script>
import User from "./../../components/user/Index.vue";

export default {
  data: () => ({}),
  components: {
    User,
  },
};
</script>
