<template>
  <metainfo>
    <template v-slot:title="{ content }">{{ $t(content) }}</template>
  </metainfo>
  <template v-if="$auth.load()">
    <router-view></router-view>
  </template>
  <template v-else>
    <div class="q-pa-lg">
      <div class="column items-center q-pa-lg">
        <div class="col q-pa-lg" style="width: 30%">
          <q-card class="q-pa-lg" flat style="max-width: 300px">
            <q-skeleton height="150px" square />

            <q-card-section>
              <q-skeleton class="text-subtitle1" type="text" />
              <q-skeleton class="text-subtitle1" type="text" width="50%" />
              <q-skeleton class="text-caption" type="text" />
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
  </template>
</template>

<script>
import { useMeta, useActiveMeta } from "vue-meta/dist/vue-meta.esm-browser";
import { mapGetters } from "vuex";

export default {
  name: "LayoutDefault",
  setup() {
    useMeta({
      title: "appName",
      htmlAttrs: { lang: "fr" },
    });
    const metainfo = useActiveMeta();
    return {
      metainfo,
    };
  },
  watch: {
    "$store.getters.notification.status"(value) {
      if (value) {
        this.showNotification();
      }
    },
  },
  components: {},
  computed: {
    ...mapGetters({ notification: "notification" }),
  },
  methods: {
    showNotification() {
      const self = this;
      this.$q.notify({
        group: this.notification.group,
        color: this.notification.color,
        message: this.notification.message,
        multiLine: this.notification.multiLine,
        timeout: this.notification.timeout,
        position: this.notification.position,
        progress: this.notification.progress,
        actions: [
          {
            label: self.$t("btn.close.title"),
            color: "white",
            handler: () => {
              self.closeNotification();
            },
          },
        ],
      });
    },
    closeNotification() {
      this.$store.dispatch("setNotification", {
        status: false,
      });
    },
  },
};
</script>
